<section class="module parallax parallax-1">
  <div class="container">
    <h1 class="headertext">FWSTE</h1>
  </div>
</section>

<section class="module content">
  <div <!-- class="container" -->
    <h2>Welcome to Fort Wayne Suzuki Talent Education!</h2>
    <p>Located in Fort Wayne, IN, we provide classical Suzuki instruction to area students. <br /><br />Modeled on the process a child uses to learn how to speak, the Suzuki method has been developed with ease of learning in mind.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1 class="headertext">About Us</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Proudly Continuing Tradition</h2>
    <p>Our program offers instruction in violin, viola and cello to students age 3 and older. <br /><br />  Besides individual lessons, students participate in weekly group and theory classes.  <br /><br />After mastering the fundamental skills, students participate in Beginning Orchestra. <br /><br /> Students move on to the Intermediate and then Advanced Orchestra as their skills progress. <br /><br />Advanced students also participate in Chamber Music Ensembles and String Choirs. Details <a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/resources.html">here.</p></a>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1 class="headertext">Interested?</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>We accept new students seasonally. Even if we don't have any current spots available, we can still help!</p>
    <h2>Contact us with your questions or for more information:</h2>
    <p><form method="POST" action="https://formspree.io/ninja@fastmail.fm" id="contactForm">
                        <div class="row">
                            <div class="col md 6">
                               <div class="form-group">
                                  <input class="form-control" type="name" name="name" id="name"; placeholder="Name">
                                  <br />
                                  <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                                  <br />
                                  <textarea rows="6" class="form-control" type="name" name="message" id="message" placeholder="Message"></textarea>
                                  </form>
                                  </div>
                                    <div class="col-md-6 test-xs-center">
                                     <button type="submit"; class="btn btn-default btn-md">Submit</button>
                                     </div>
                                </div>
                            </div></p>
  </div>
</section>
 
