<section class="module parallax parallax-1">
  <div class="container">
    <h1>FWSTE</h1>
  </div>
</section>

<section class="module content">
  <div <!-- class="container" -->
    <h2>Welcome to Fort Wayne Suzuki Talent Education!</h2>
    <p>Located in Fort Wayne, IN, we provide classical Suzuki instruction to area students. Modeled on the process a child uses to learn how to speak, the Suzuki method has been developed with ease of learning in mind.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1 style="font-size: 110px">About Us</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Proudly Continuing Tradition</h2>
    <p>Our program offers instruction in violin, viola and cello to students age 3 and older.  Besides individual lessons, students participate in weekly group and theory classes.  After mastering the fundamental skills, students participate in Beginning Orchestra.  Students move on to the Intermediate and then Advanced Orchestra as their skills progress. Advanced students also participate in Chamber Music Ensembles and String Choirs. Details <a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/resources.html">here.</p></a>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1 style="font-size: 110px">Interested?</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>We accept new students seasonally. Even if we don't have any current spots available, we can still help!</p>
    <h2>Contact us with your questions or for more information:</h2>
    <p><form method="POST" action="https://formspree.io/ninja@fastmail.fm" id="contactForm">
                        <div class="row">
                            <div class="col md 6">
                               <div class="form-group">
                                  <input class="form-control" type="name" name="name" id="name"; placeholder="Name">
                                  <br />
                                  <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                                  <br />
                                  <textarea rows="6" class="form-control" type="name" name="message" id="message" placeholder="Message"></textarea>
                                  </form>
                                  </div>
                                    <div class="col-md-6 test-xs-center">
                                     <button type="submit"; class="btn btn-default btn-md">Submit</button>
                                     </div>
                                </div>
                            </div></p>
  </div>
</section>
  <!-- <div class="bgimg-1" style="background-image: url("img_violinmain.jpg") !important;">
    <div class="caption">
      <span class="border">text here</span>
    </div>
  </div>
  <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align:justify">
    <h3 style="text-align:center;">more text here</h3>
    <p>super cool stuff</p>
  </div>
  <div class="bgimg-2">
    <div class="caption"></div>
      <span class="border" style="background-color: transparent; font-size:25px; color: #f7f7f7;">STUFF HERE
      </span>
      </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd; background-color: #282E34; text-align:center; padding:50px 80px; text-align: justify">
      <p>supa sweet text here</p>
    </div>
  </div>
  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent; font-size:25px; color: #f7f7f7;">text again</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd; background-color: #282E34; text-align:center; padding:50px 80px; text-align: justify;">
      <p>stuff here yet again</p>
    </div>
  </div>
  <div class="bgimg-1">
    <div class="caption">
      <span class="border">SWEET</span>
    </div>
    
  </div> -->



<!-- <section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"> -->
        <!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" /> -->
      <!-- </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="font-size: 50px !important">
        Fort Wayne Suzuki Talent Education
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.fortwaynesuzukistrings.org/" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  
  <div>
    <h2>Welcome!</h2>
    <p>Our program offers instruction in violin, viola and cello to students age 3 and older.  Besides individual lessons, students participate in weekly group and theory classes.  After mastering the fundamental skills, students participate in Beginning Orchestra.  Students move on to the Intermediate and then Advanced Orchestra as their skills progress. Advanced students also participate in Chamber Music Ensembles and String Choirs.</p> -->
<!--     <p>This sample application tracks users and articles.</p>
  <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul> -->
  <!-- </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>C</strong>lasses</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/classes.html">Here</a> are our available classes. There are options for all ages and skill levels.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>estimonials</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/testimonials.html">Testimonials</a> are updated frequently! Check out our students' stories!</p>
    </div>
    <div class="col-md-3">
      <h2><strong>R</strong>esources</h2>
      <p>You can learn more about us and the Suzuki method on our <a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/resources.html">resource</a> page.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>G</strong>allery</h2>
      <p><a target="_blank" style="color: #001933" href="http://www.fortwaynesuzukistrings.org/current.html">Pictures</a> of our past and current students are featured here.</p>
    </div>
  </div>
  <div class="well">
    <h2>Questions?</h2>
  
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.
</section> -->
